{% extends "base.html" %}
{% load static %}

{% block head %}

{% endblock %}

{% block title %}
    ANNPORT Wedding : 섭외 문의
{% endblock %}

{% block navbar %}
    {% include "wedding/navbar.html" %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="pt-5"></div>
        <div class="row">
            <div class="col" style="text-align: end;">
                <h4>사회자 섭외를 문의하기 위해 정보를 입력해주세요</h4>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- 오류 -->
            {% if castform.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for field in castform %}
                        {% if field.errors %}
                            <strong>{{ field.label }}</strong>
                            {{ field.errors }}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            <div id="basicform">
                <div class="input-group pt-1">
                    <span class="input-group-text" id="addon-wrapping"><i class='bx bx-female' style="font-size: 1.4em;"></i></span>
                    <input class="form-control bride" name="bride" id="bride" placeholder="신부님 성함" value="{{ bride|default_if_none:'' }}">
                    <span class="input-group-text" id="addon-wrapping"><i class='bx bxs-phone' style="font-size: 1.4em;"></i></span>
                    <input class="form-control bride_phone" name="bride_phone" id="bride_phone" placeholder="신부님 연락처" value="{{ bride_phone|default_if_none:'' }}">
                </div>
                <div class="input-group pt-1">
                    <span class="input-group-text" id="addon-wrapping"><i class='bx bx-male' style="font-size: 1.4em;"></i></span>
                    <input class="form-control groom" name="groom" id="groom" placeholder="신랑님 성함" value="{{ groom|default_if_none:'' }}">
                    <span class="input-group-text" id="addon-wrapping"><i class='bx bxs-phone' style="font-size: 1.4em;"></i></span>
                    <input class="form-control groom_phone" name="groom_phone" id="groom_phone" placeholder="신랑님 연락처" value="{{ groom_phone|default_if_none:'' }}">
                </div>
                <div class="input-group pt-1">
                    <span class="input-group-text" id="addon-wrapping"><i class='bx bx-envelope' style="font-size: 1.4em;"></i></span>
                    <input class="form-control email_addr" name="email_addr" id="email_addr" placeholder="계약서 & 자료 받으실 메일주소" value="{{ email_addr|default_if_none:'' }}">
                </div>
                <div class="input-group pt-3 mt-3 border-top">
                    <span class="input-group-text" id="addon-wrapping"><i class='bx bx-calendar-heart' style="font-size: 1.4em;"></i></span>
                    <input class="form-control wedding_date" name="wedding_date" id="wedding_date" placeholder="본식 날짜, 시간" value="{{ wedding_date|default_if_none:'' }}">
                    <span class="input-group-text" id="addon-wrapping"><i class='bx bxs-map-pin' style="font-size: 1.4em;"></i></span>
                    <input class="form-control wedding_place" name="wedding_place" id="wedding_place" placeholder="본식 장소" value="{{ wedding_place|default_if_none:'' }}">
                </div>
                <div class="form-check form-switch mt-3">
                    <input class="form-check-input officiator" type="checkbox" name="officiator" id="officiator" value=1>
                    <label class="form-check-label" for="officiator">주례가 있다면 체크해주세요.</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input wedding_reception" type="checkbox" name="wedding_reception" id="wedding_reception" value=1>
                    <label class="form-check-label" for="wedding_reception">2부예식이 진행된다면 체크해주세요.</label>
                </div>
                <div class="input-group pt-3 mt-3 border-top">
                    <span class="input-group-text" id="addon-wrapping"><i class='bx bx-smile' style="font-size: 1.4em;"></i></span>
                    <input class="form-control wish_mc" name="wish_mc" id="wish_mc" placeholder="희망 사회자가 있다면 입력해주세요." value="{{ wish_mc|default_if_none:'' }}">
                </div>
                <div class="input-group pt-1">
                    <span class="input-group-text" id="addon-wrapping"><i class='bx bx-help-circle' style="font-size: 1.4em;"></i></span>
                    <textarea class="form-control customer_memo" name="customer_memo" id="customer_memo" placeholder="그 외 추가적으로 문의하실게 있다면 입력해주세요." value="{{ customer_memo|default_if_none:'' }}"></textarea>
                </div>
                <div class="row p-3 d-flex justify-content-center">
                    <button type="submit" class="btn btn-lg call_btn search_btn mb-5" id="save_btn" style="color: white;">
                        <i class="bx bxs-save" style="font-size: 1.4em; padding-right: 5px;"></i>
                        섭외 문의 보내기
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block script %}
    <link href="{% static 'cssjs/jquery.datetimepicker.min.css' %}" type="text/css" rel="stylesheet">
    <script src="{% static 'cssjs/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'cssjs/jquery.datetimepicker.full.min.js' %}"></script>
    <script>
        jQuery(function(){
            $.datetimepicker.setLocale('ko');
            jQuery('#wedding_date').datetimepicker({
                maxDate: 0,
                timepicker:true,
                format:'Y-m-d H:i'
            });
        });
    </script>
{% endblock %}