{% extends "base.html" %}
{% load static %}

{% block head %}

{% endblock %}

{% block title %}
    ANNPORT Wedding X 전자랜드
{% endblock %}

{% block navbar %}
    {% include "wedding/navbar.html" %}
{% endblock %}

{% block content %}
     <div class="container p-0" style="max-width: 800px;">
        <div>
            <img src="{% static 'images/sponsor/etland_content_1.png' %}" style="max-width: 100%">
            <img src="{% static 'images/sponsor/etland_content_2.png' %}" style="max-width: 100%">
            <img src="{% static 'images/sponsor/etland_content_3.png' %}" style="max-width: 100%">
            <img src="{% static 'images/sponsor/etland_content_4.png' %}" style="max-width: 100%">
        </div>
         <div class="my-3 justify-content-end text-end">
             <img src="{% static 'images/sponsor/etland_qr.jpg' %}" style="width: 100%; max-width: 200px;">
         </div>
     <!-- QR코드 -->
     </div>

{% endblock %}

{% block script %}

{% endblock %}